.Toastify__toast {
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    text-align: center;
}
.Toastify__toast-body {
    width: 100%;
}
.Toastify__toast--success {
    background-color: #34D399;
}
.Toastify__toast--error {
    background-color: #F87171;
}
